@font-face {
    font-family: 'Phino'; 
    src: url('/public/fonts/Phino-9M22.ttf');
}

@font-face {
    font-family: 'LotusCoder';
    src: url('/public/fonts/Lotuscoder-0WWrG.ttf');
}

@font-face {
    font-family: 'GoldenRatio';
    src: url('/public/fonts/GoldenRatioDemoRegular-VLw6.ttf');
}

.intro-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    justify-content: center;
    color: black;
    padding-right: 170px;
    box-sizing: border-box;
}

.inner-container {
    display: inline-block;
    text-align: left;
    padding-bottom: 110px;
}

.typewriter > h1 {
    font-size: 130px;
    margin-top: -50px;
    font-family: 'GoldenRatio';
}

.greeting {
    font-size: 50px;
    font-family: 'Phino';
    font-weight: bolder;
}

.intro-content {
    margin-top: 8px;
    font-size: 30px;
    font-family: 'LotusCoder';
    width: 60%;
}

.view-work-btn {
    font-family: 'LotusCoder';
    font-size: 20px;
    padding: 10px 35px;
    background-color: #e63462;
    border-color: transparent;
    color: white;
    display: flex;
    margin-top: 80px;
    transition: all 0.2s ease-in;
}

.view-work-btn:hover {
    background-color: #d3194b;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #e63462; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}
  
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #e63462 }
}

@media screen and (max-width: 1290px) {
    .intro-container {
        padding-right: 50px;
    }
    
    .inner-container h1 {
        font-size: 110px;
    }

    .greeting {
        font-size: 40px;
    }

    .intro-content {
        font-size: 25px;;
    }
}

@media screen and (max-width: 990px) {
    .intro-container {
        padding-left: 80px;
    }
    
    .inner-container h1 {
        font-size: 90px;
    }

    .greeting {
        font-size: 35px;
    }

    .intro-content {
        font-size: 25px;;
    }

    .view-work-btn {
        padding: 8px 30px;
        margin-top: 65px;
    }
}

@media screen and (max-width: 780px) {
    .inner-container h1 {
        font-size: 70px;
    }

    .inner-container > p {
        font-size: 20px;
    }
}