* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: transparent;
}

.main-container {
  background: linear-gradient(90deg, #ffffff, #fbfbfc, #eff2f5, #dde3ea, #c9d2dd, #b3bfce, #9eadbe, #8b9baf, #7a8ca2, #6e8097, #667990, #63768d);
  margin: 0 !important;
  padding: 0 !important;
}

#to-top-btn {
  margin: 0 20px 20px 0;
  display: block;
  margin-left: auto;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.standard-btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: large;
  transition: all 0.3s ease-out;
  border-radius: 10px;
  background: rgb(230, 229, 229);
}

.standard-btn:hover {
  background: rgb(195, 194, 194);
  color: #242424;
  transition: all 0.3s ease-out;
}